* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.header {
    background-color: #1f2937;
    color: #f9faf8;
    padding: 10px 180px 100px 180px;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 70px;
}

.Logo{
    font-size: 24px;
    color: #f9faf8;
    font-weight: bold;
}

.nav-links{
    display: flex;
    list-style: none;
    gap: 20px;
}

.nav-links a {
    text-decoration: none;
    color: #f9faf8;
    font-size: 20px;
}

.header-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
}

.header-text{
    flex: 1;
}

.header-text h1 {
    font-size: 48px;
    font-weight: 900px;
    color: #f9faf8;
}

.header-text p {
    font-size: 18px;
    color:#e5e7eb;
    margin-top: 10px;
    margin-bottom: 20px;
}

.header-text button{
    background-color: #3882f6;
    color: #e5e7eb;
    border: 0px;
    padding: 8px 30px;
    border-radius: 8px;
    font-weight: 500;
    cursor: pointer;
}

.Image-placeholder{
    background-color: gray;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
}